* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}
body {
  background-color: #ef6f6c;
}

h1 {
  color: #465775;
  text-align: center;
}

h2 {
  color: #465775;
}
  
p {
    position: relative;
    top: 50px;
    left: 50px;
    color: #465775;
}
