body {
  background-color: #ef6f6c;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

h1 {
  color: #465775;
  text-align: center;
  background-color: #FFFFFF;
}

h2 {
  color: #465775;
  background-color: #FFFFFF;
}
  
p {
    background-color: #FFFFFF;
    color: #465775;
}
